<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Framework.DependencyInjection" version="1.0.0-beta8" targetFramework="net461" />
  <package id="Microsoft.Framework.DependencyInjection.Abstractions" version="1.0.0-beta8" targetFramework="net461" />
  <package id="PostSharp" version="4.2.16" targetFramework="net461" />
  <package id="PostSharp.Patterns.Common" version="4.2.15" targetFramework="net461" />
  <package id="PostSharp.Patterns.Model" version="4.2.15" targetFramework="net461" />
  <package id="structuremap" version="4.0.1.318" targetFramework="net461" />
</packages>